
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inconsolata:wght@200;300;400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --fond : #242424;
    --primary : #0a65a6;
    --secondary : #ffffff;
    --terciary :  rgba(169, 85, 85, 0.98);
}

html{

    margin : 0;
    padding: 0;
}

body{
    font-family: Josefin Sans;
    
    background: linear-gradient(243deg, #242424, #454954);
    background-size: 400% 400%;

    animation: ScrollBackground 8s ease infinite;
    margin: 0;
}

h1{
    font-family: Geologica;
    font-size: 5vw;
    color: var(--terciary);
    margin-bottom: 1%;
}

@keyframes ScrollBackground {
    0% {
        background-position:0% 51%
    }
    50% {
        background-position:100% 50%
    }
    100%{
        background-position:0% 51%
    }
}

header{
    /*border-bottom: 5px rgb(16, 12, 12) solid;*/
    padding-top: .5%;
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    background-color: var(--fond);
    align-items: center;
    font-size : 4vw;
}

.espaceDefilement{
    overflow: hidden;

}

.photo_profil{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.nom{
    margin-bottom: .1%;
    color: var(--terciary);
}

header .espaceDefilement p{
    color: var(--primary);
    animation: scrollText 7s ease-in-out infinite;
}

@keyframes scrollText 
{
    0%{
        transform: translateY(200%);
    }

    50%{
        transform: translateY(0%);
    }

    75%{
        
        transform: translateY(0%);
    }

    100%{
        
        transform: translateY(-200%);
    }
}

.navi{
    display: flex;
    justify-content: space-between;
    background-color: var(--fond);
    
}

.naviFlottant{
    top : 2%;
    width: 80%;
    margin-left: 10%;
    background-color: var(--fond);
    border-radius: 2vw;
    position: fixed;
}

nav ul{
    
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-inline-start: 0;
    
    
}

nav ul li a{
    font-family: Inconsolata;
    position: relative;
    text-decoration: none;
    color : var(--primary);
    font-size: 2vw;
}

nav ul li{
    font-size: 2vw !important;
    background-color: rgba(48, 44, 44, 0.612);
    border-radius: 3vw;
    padding: 1%;
    color: whitesmoke;
    transition: all .5s ease;
    cursor: pointer;
}

nav ul li:hover{
    background-color: transparent;
}

nav ul li a::after{
    position: absolute;
    content: " ";
    margin-top: 1vh;
    width: 0%;
    right: 0;
    bottom: -2vh;
    height: .5vh;
    border-radius: 5vw;
    background-color: transparent;
    transition: width 300ms ease, background-color 290ms ease !important;
}

nav ul li:hover a::after{
    left : 0;
    width: 100%;
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
}

main img{
    border-radius: 2vw;
}
main div{
    display: flex;
    /*background-color: rgba(0,0,0,0.1);*/
}

main div p{
    font-family: Josefin Sans;
    padding-left: 3%;
    line-height: 148%;
    font-size: 1.4vw;
    color: var(--secondary);
}

main div img{
    width: 20vw;
    height: 20vw;
}

main button{
    width: 10%;
    align-self: center;
}

#A_propos{
    padding-left: 15%;
    flex-direction: column;
}



#A_propos section{
    background-color: rgba(255,255,255,0.2);
    border-radius: 2vw;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imageProjet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imageProjet img{
    margin-bottom: 2%;
    width: auto;
    height: 15vw;
    border-radius: 1vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
#Mes_projets{
    display: flex;
    flex-direction: column;

}

#Mes_projets h3{
    color: var(--primary);
    font-size: 2vw;
}

#Mes_projets h1{
    align-self: center;
    padding-left: 1%;
    padding-right: 1%;
    border-right: 1px rgba(255,255,255,0.2) solid;
    border-left: 1px rgba(255,255,255,0.2) solid;
}

#Mes_projets p{
    font-size: 1.2vw;
}


#Mes_projets .nom_projet{
    align-self: center;
    background-color: rgba(48, 44, 44, 0.2);
    border-radius: 1vw;
    padding: 1% 2% 1% 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#Mes_projets .h3_imageProjet{
    align-self: self-start;
    background-color: rgba(48, 44, 44, 0.2);
    border-radius: 1vw;
    padding: 1% 2% 1% 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 1%;
}

#Mes_projets .CadreProjet{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
}

#Mes_projets .CadreProjet .cadre{
    min-width: 100%;
    display: flex;
    flex-direction: column;

}

#Mes_projets section div aside{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Mes_projets section div aside .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    background-color: rgba(48, 44, 44, 0.612);
    border-radius: 1vw;
}

#Mes_projets section div aside .content p {
    padding-right: 2%;
}



.competence_utilise{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
    background-color: rgba(48, 44, 44, 0.612);
    border-radius: 1vw;
    margin-right: 2%;
    padding: 0 2% 0 2%;
}

.competence_utilise img{
    width: 30%;
    height: auto;
    padding: 1%;
}

.container_button{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container_button img{
    width: 5vw;
    height: auto;
    margin: 0 4% 5% 4%;
    cursor: pointer;
    transition: transform .5s ease;
    padding-top: 2%;
}

.container_button img:hover{
    transform: scale(1.2);
}

.lienProjet{
    color: var(--secondary);
    text-decoration: none;
    font-family: Inconsolata;
    padding: 1% 2% 1% 1%;
    margin-top: 2%;
    background-color: rgba(48, 44, 44, 0.2);
    border-radius: 1vw;
    align-self: self-start;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
    font-size: 1.3vw;
    margin-left: 1%;
}

.date{
    align-self: self-start;
}

#Lien_utiles{
    display: flex;
    justify-content: center;
    background-color: rgba(48, 44, 44, 0.2);
    margin: 0 2% 0 2%;
    border-radius: 2vw;
    flex-direction: column;
}

.liens{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2%;
}

.liens .icon_contact{
    width: 5%;
    height: auto;
    align-self: center;
    position: absolute;
    z-index: -1;
    transition: all 500ms ease;
    opacity: 0;

}

#Lien_utiles h1{
    align-self: center;
    color: var(--secondary);
    padding-left: 1%;
    padding-right: 1%;
   font-size: 2vw;
}

#Lien_utiles .liens div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Lien_utiles a{
    background-color: rgba(48, 44, 44, 0.9);
    border-radius: 2vw;
    text-decoration: none;
    color: var(--secondary);
    padding: 8%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 500ms ease;
    align-self: center;
    font-size: 1.5vw;

}



#Lien_utiles a:hover{
    transform: translateY(-20%)
}

#Lien_utiles .liens a:hover + .icon_contact{
    transform: translateY(-150%);
    opacity: 1;
    z-index: 0;
}

