<div id="cv-selector">
    <input type="checkbox" class="none-appareance" id="cv-selector-toggle">
    <aside class="full-space cliquable" id="cv-selector-back"></aside>
    <section>
        <span id="cv-close" class="cliquable">❌</span>
        <p id="cv-selector-consigne" class="up">Cliquez pour télécharger :)</p>
        <div id="cv-button-container">
            <a class="cv-button" href="/CV/CV_Fullstack.pdf" download>web</a>
            <a class="cv-button" href="/CV/CV_GameplayDeveloper.pdf" download>jeux vidéo</a>
        </div>
    </section>
</div>