<ul>
    <li>
        <a href="/#APropos" onclick="scrollTOElement('#APropos');return false;">
            A propos
        </a>
    </li>
    <li>
        <a href="/#Projets" onclick="scrollTOElement('#Projets');return false;">
            Mes projets
        </a>
    </li>
    <li>
        <a href="/#contact" onclick="scrollTOElement('#contact');return false;">
           Me contacter
        </a>
    </li>
    <li>
        <span id="CVLink" class="cliquable">
            Mes CVS
        </span>
    </li>
</ul>