<ul>
    <li>
        <a href="/#APropos" onclick="return scrollTOElement('#APropos')">
            A propos
        </a>
    </li>
    <li>
        <a href="/#Projets" onclick="return scrollTOElement('#Projets')">
            Mes projets
        </a>
    </li>
    <li>
        <a href="/#contact" onclick="return scrollTOElement('#contact')">
           Me contacter
        </a>
    </li>
    <li>
        <span id="CVLink" class="cliquable">
            Mes CVS
        </span>
    </li>
</ul>