{#$idToString = [#}
{#0 => "PROJET PERSO",#}
{#1 => "PROJET PRO",#}
{#2 => "PROJET PHARE"#}
{#];#}


<div id="ProjetPerso">
    <p>{{ categorie }}</p>
    <p class="CTA">Cliquez sur les images pour en savoir plus..</p>
</div>
