@use "sass:list";

$animTime: 500ms;

@keyframes AppearLeft 
{
    from 
    {
        transform: translateX(100%);
    }
    to 
    {
        transform: translateX(0%);
    }
}

@keyframes AppearFromUp {
    from 
    {
        transform: translateY(-100%);
    }
    to 
    {
        transform: translateY(0);
    }
}

.AppearFromUp
{
    animation: AppearFromUp $animTime ease forwards;
}

.AppearLeft 
{
    animation: AppearLeft $animTime ease forwards;
}

.DisappearLeft
{
    animation: AppearLeft $animTime ease reverse;
}

$locations : "Left", "Right";
$transforms : translateX(-20%), translateX(20%);
$i : 0;
$combined: list.zip($locations,$transforms);

@each $location,$transform in $combined {
    
    .hidden#{$location}
    {
        opacity: 0;
       
        transform: $transform;        
        transition: opacity $animTime ease, transform $animTime ease;
    }
    $i: $i + 1;
}

.visible
{
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}
