@use '../shared/var' as *;

header 
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
}

nav
{
    li::marker
    {
        all: unset;
    }
}
#HomeNav
{
    z-index: 2;
    width: 100%;
    height: $footerHeight;
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: $Color2;

    ul 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        
        li 
        {
            a 
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $Color1;

                img 
                {
                    width: 25px;
                    height: 25px;
                }
            }
            

        }
    }

    figcaption
    {
        font-size: .9em;
    }  
}

#SectionPP
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p 
    {
       text-align: center; 
       font-size: clamp(.8em,1.3vw,1.8em);
       font-family: "Malish", sans-serif;
    }
}


#EnTete
{

    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    #Info
    {
        text-align: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        font-size: clamp(2em,7vw,4em);
        max-width: 10em;

        .NiceButton
        {
            margin-top: 1rem;
            font-size: .4em;
            margin-bottom: 2rem;
            align-self: center;
            padding: .5rem 1rem
        }
    }

    #Image
    {
        display: grid;
        place-items: center;
    }

    #PP
    {
        width: clamp(2em,50vw,20em);
        height: auto;
        border-radius: 100%;
        @include littleShadow(.1)
    }

    #intro
    {
        width: 100%;
        font-size: .4em;
    }

    #nom
    {
        font-size: 1em;
        margin: .5rem 0;
        font-weight: 800;
    }

    #metier
    {
        font-size: .5em;
        color: $Color2  ;
        margin: 0;
        width: 100%;
    }


    //p:not([class])
    //{
    //    @include littleShadow(.5);
    //    margin-bottom: .5rem;
    //    padding-left: 2%;
    //    text-align: center;
    //    font-size: clamp(1.2em,5vw,3em);
    //    overflow-wrap: break-word;
    //    font-family: "Ubuntu", sans-serif;
    //    font-weight: 500;
    //}
    //
    //p[class]
    //{
    //    margin-bottom: 2rem;
    //}

}


#link
{

    @include littleShadow(.1);
    margin-top: 5rem;
    background-color: $Color2;
    padding: .5rem 0;
    border-radius: 2rem;
    display: flex;
    border: .1rem solid $borderCompetenceColor;
    align-items: center;

    margin-bottom: 2rem;

    margin-right: 2rem;
    margin-left: 2rem;

    a
    {
        display: grid;
        place-items: center;
        height: 100%;
        text-decoration: none;
    }

    img
    {
        width: calc($FooterIconSize - .2rem);
        margin: 0 1rem;
        height: auto;
        transition: transform 500ms ease, filter 500ms ease;

        &:hover
        {
            transform: translateY(-.2rem);
            @include littleShadow(.2);
        }
    }
}

@media (min-width: $computerSize) {


    #Info
    {
        text-align: start !important;

        .NiceButton
        {
            align-self: flex-start !important;
            margin-bottom: 0 !important;
            font-size: .2em !important;
        }
    }

    #link
    {
        margin-right: 0;
        margin-left: 0;
        margin-top: 5rem;
    }

    #HomeNav
    {
        opacity: .95;
        z-index: 2;
        width: 100%;
        height: $footerHeight;
        position:fixed;
        top: 0;
        left: 0;
        background-color: $Color2;
    }

    #sectionPP
    {
     margin-top: 5rem;
    }

}