body, html
{
  min-height: 100vh;
}

main
{
  flex-grow: 3;

  display: flex;
  align-items: center;
  justify-content: center;


}

header
{
  min-height: unset !important;
  flex-grow: 1;
}

footer
{
  flex-grow: 1;
}

h1
{
  text-align: center;
}