@use 'header';
@use 'main';
@use 'footer';
@use '../shared/var' as *;
@use '../shared/animation';

body,html
{
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    
}


body 
{
    display: flex;
    flex-direction: column;
    padding-bottom: calc($footerHeight - 0.1rem);
    font-family: "Mulish",sans-serif;
}

h1{
    font-weight: 500 !important;
    font-size: 2em;
}

h1,h2,h3,h4
{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

@media (min-width: $computerSize) {
    body 
    {
        padding-bottom: unset;
    }
}

.SimpleContainer
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.NiceButton
{
    cursor: pointer;
    margin-bottom: 2em;
    align-self: center;
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem 1rem;
    border-radius: 8em;
    background-color: $Color2;
    justify-content: center;
    text-decoration: none !important;
    transition: transform 500ms ease;
    &:hover
    {
      transform: scale(1.05);
    }
}





