@charset "UTF-8";
header {
  all: unset;
  margin: 3rem 2rem;
  display: flex;
  min-height: unset !important;
  min-width: unset !important;
}
header #Outils {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
header #Outils img {
  width: clamp(1em, 12vw, 5em);
  height: auto;
}
header .Illustration {
  align-self: center;
  width: clamp(2em, 70vw, 40em);
  border-radius: 0.5em;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
}
header #info {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: clamp(0.8em, 8vw, 3em);
}
header #titre {
  text-align: center;
  font-size: clamp(1em, 8vw, 2em);
  margin-bottom: 0;
  letter-spacing: 0.3em;
}
header #date {
  font-style: italic;
  margin-top: 2%;
  text-align: center;
  font-size: 0.5em;
  font-weight: 100;
}

@media (min-width: 750px) {
  header {
    margin: 0;
    margin-top: 5rem;
  }
  #backHome {
    left: 2rem !important;
  }
}
figure figcaption {
  font-size: clamp(0.7em, 1.2vw, 1em);
}

main {
  align-self: center;
}
main section {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
}
main section:first-of-type {
  margin-top: 0 !important;
}
main section p {
  font-weight: 100;
}
main .project-section-title {
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
  font-size: clamp(1.3em, 3vw, 3em);
  text-transform: uppercase;
  padding: 0 2rem;
}
main #apropos {
  align-self: center;
  width: 70vw;
}
main #apropos p {
  font-size: clamp(0.8em, 3vw, 1.5em);
  text-align: center;
}
main #missions {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  background-color: #052A59;
  color: white;
}
main #missions h3 {
  margin-top: 2rem;
}
main #missions aside {
  align-self: center;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #missions aside ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2em;
}
main #missions aside ul li {
  margin: 0.4em 0;
  font-size: clamp(0.8em, 1.3vw, 1.8em);
}
main #missions aside img {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
}
main #missions aside figure {
  width: clamp(14em, 35vw, 40em);
  margin: auto;
}
main #etapes {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
main #etapes h3 {
  color: #052A59;
}
main #etapes aside {
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main #etapes aside ul {
  margin: 0 1rem;
}
main #etapes aside ul li {
  font-size: clamp(0.98em, 1.6vw, 2em);
  margin: 0.8em 0;
}
main #etapes aside ul li > b {
  text-transform: uppercase;
  color: #052A59;
  font-weight: bolder;
}
main #etapes aside ul li::marker {
  color: #052A59;
  font-weight: bolder;
}
main #etapes aside figure img {
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}
main #etapes > figure {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
main #etapes > figure img {
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}
main #conclusion {
  background-color: #052A59;
  color: white;
  display: grid;
  place-items: center;
  margin-top: 5rem;
  padding: 5rem 0;
  font-size: clamp(0.9em, 1.5vw, 2em);
}
main #conclusion p {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
main #conclusion p a {
  color: white;
}
main #conclusion aside a {
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
}
main #conclusion aside a:first-of-type {
  margin-right: 1rem;
}
main #images {
  margin-top: 7rem;
}
main #images h3 {
  color: #052A59;
}
main #images aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main #images aside figure {
  margin-bottom: 2rem;
  width: clamp(14em, 35vw, 40em);
}
main #images aside figure img {
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

@media (min-width: 750px) {
  main {
    align-self: center;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
  }
  main #AperçuProjet .ImageApercu {
    margin-right: 1.5rem;
  }
  main #missions h3 {
    margin-top: 7rem;
  }
  main #missions aside {
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 7rem;
  }
  main #missions aside ul {
    width: 50%;
  }
  main #missions aside figure {
    width: 40%;
  }
  main #etapes {
    align-self: center;
    width: 80%;
  }
  main #etapes aside ul {
    margin-right: 1rem;
    width: 45%;
  }
  main #etapes aside figure {
    margin: 0;
    width: 45%;
  }
  main #etapes > figure {
    margin-top: 5rem;
  }
  #section_Apropos p.content {
    margin: 2rem 5rem !important;
  }
}

/*# sourceMappingURL=projetStyles.css.map */
