@charset "UTF-8";
header {
  all: unset;
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
}
header .Illustration {
  align-self: center;
  width: clamp(2em, 70vw, 40em);
}
header nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav #backHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  height: 60%;
}
header nav #backHome img {
  height: 80%;
  width: auto;
}
header #info {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: clamp(0.8em, 8vw, 3em);
}
header #titre {
  text-align: center;
  font-size: inherit;
  margin-bottom: 0;
}
header #date {
  font-style: italic;
  margin-top: 2%;
  text-align: center;
  font-size: 0.5em;
}

@media (min-width: 750px) {
  header {
    margin: 0;
    margin-top: 5rem;
  }
  #backHome {
    left: 2rem !important;
  }
}
main {
  width: 90vw;
  align-self: center;
}
main section {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
}
main .Container {
  flex-direction: column;
}
main .Link {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start !important;
  position: sticky;
}
main .Link p {
  margin: 1rem 3rem !important;
  min-width: 5em;
}
main .Link img {
  margin-right: 1rem;
}
main section[id] {
  cursor: pointer;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
}
main section:first-of-type {
  margin-top: 0 !important;
}
main #AperçuProjet, main #AperçuProjet, main #EtapeProjet, main #section_Apropos, main #LienProjet {
  margin-top: 1rem;
  background-color: #052A59;
  color: white;
  border-radius: 1rem;
  transition: height 500ms ease;
  overflow: hidden;
  font-size: clamp(1em, 1.8vw, 1.5em);
  height: 4rem;
}
main .CompContainer {
  align-self: center;
}
main [class^=Comp-]::before {
  display: none;
}
main #LienProjet {
  flex-direction: column;
}
main #LienProjet .Container {
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
main .startConditionProjet {
  display: flex;
}
main #AperçuProjet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
main #AperçuProjet .Container img {
  margin-top: 1rem;
  width: clamp(5rem, 80vw, 25rem);
  border-radius: 0.5em;
}
main #AperçuProjet .Container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main #AperçuProjet .Container .ImageApercu {
  margin-right: 0;
}
main #AperçuProjet figcaption {
  text-align: center;
  font-size: clamp(0.8em, 1.5vw, 1em);
  margin-bottom: 2em;
  font-style: italic;
}
main section p {
  font-weight: 100;
}
main #section_Apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #section_Apropos p {
  font-size: clamp(1em, 1.5vw, 1.5em);
  line-height: 1.2em;
  margin: 1rem;
}
main #section_Apropos p a {
  color: #052A59;
  font-weight: 700;
}
main img {
  cursor: pointer;
}
main #LienProjet a {
  font-size: clamp(1em, 1.8vw, 1.1em);
  color: white;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  text-decoration: underline;
}
main .Etape {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  font-size: clamp(1em, 1.5vw, 1.5em);
  margin-right: 1rem;
}
main .Etape h2 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 500;
}
main .Etape p {
  font-size: 1em;
  margin-top: 0;
  margin-left: 1rem;
}
main #EtapeProjet {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  main {
    width: 80vw;
    align-self: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
  }
  main #AperçuProjet .ImageApercu {
    margin-right: 1.5rem;
  }
  #section_Apropos p.content {
    margin: 2rem 5rem !important;
  }
}

/*# sourceMappingURL=projetStyles.css.map */
