@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Urbanist:ital,wght@1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,600;0,6..12,800;1,6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Nunito:wght@500&display=swap');

:root{
    --couleur_fond_dark: #242424;
    --couleur_fond_light: #f5f5f5;
    --couleur_fond: var(--couleur_fond_dark);

    --couleur_text_dark: white;
    --couleur_text_light: black;    
    --couleur_text: var(--couleur_text_dark);

    --couleur_switch_light: var(--couleur_fond_dark);
    --couleur_switch_dark: var(--couleur_fond_light);
    --couleur_switch : var(--couleur_switch_dark);

    --couleur_titre_light: var(--couleur_text_light);
    --couleur_titre_dark: #1394bf;
    --couleur_titre: var(--couleur_titre_dark);

    --couleur_fond_nav_projet_dark: rgb(60, 59, 59);
    --couleur_fond_nav_projet_light: rgb(125, 102, 102);
    --couleur_fond_nav_projet: var(--couleur_fond_nav_projet_dark)
}

body{
    margin: 0;
    padding: 0 2%;
    font-family: 'Nunito';
    font-size: 20px;
    background-color: var(--couleur_fond);
    transition: opacity 500ms ease !important;
    
}

.bodyonchange{
    opacity: 0;
}

.switch_theme{
    width: 50px;
    height: 60px;
    will-change: filter;
    transition: filter 500ms ease !important;
    box-shadow: 1px 1px 5px grey;
    background-color: var(--couleur_switch);
    opacity: 1!important;
}

.switch_theme:hover{
    filter: drop-shadow(0 0 2em #646cffaa);
}

.copied{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: gray;
    width: 50px;
    height: 15px;    
    opacity: 0;
    transition: all 1s ease;
    margin: auto;
    padding: auto;
    top:20%;
    left: 40%;
    font-family: 'Urbanist';
    text-align: center;
    justify-content: center;
}


.home:hover{
    filter: drop-shadow(0 0 1em black);
    cursor: pointer;
}



.home{
    will-change: filter;
    transition: filter 500ms ease !important;
    width: 70px;
    height: 65px;
    display: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
main section{
    
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

main section h2, div h2{
    color: #a95555fa;
    padding: 0.5em;
    background-color: rgba(142, 127, 127, 0.1);
    border-radius: 1em;
    width: auto;
    word-wrap: break-word;
    
}

main section div{
    max-width: 350px!important;
    margin-right: 2%;

}

main section ul{
    list-style: none;
    margin: 0;
    padding-top: 0;
    
}
main section ul li,main > div p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main > div p{
    padding-left: 10%;
}
.lien_home{
    border: none !important;
    transition: filter 500ms ease;
}

.copied p{
    font-size: 17px;
    opacity: 1 !important;
    color: black;
}
p,h2{
    font-family: "Urbanist";
    color: var(--couleur_text)
}
li{
    color: var(--couleur_text);
}
.tête_menu_compresser{
    display: none;
}

.sub_menu{
    display: none;
    position: absolute;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: sticky;
    background-color: var(--couleur_fond);
    opacity: 1 !important;
    top: 0;
    z-index: 99;
}

img{
    cursor: pointer;
}

nav ul{
    all: unset;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap-reverse;
    border: none;
    opacity: 1 !important;
    justify-content: center;
}



a{
    opacity: 1 !important;
    color: var(--couleur_text);
    text-decoration: none;
    position: relative;
}

a::after{
    position: absolute;
    content: " ";
    width: 0%;
    right:0;
    bottom: 0;
    height: 2px;
    background-color: var(--couleur_text);
    transition: width 300ms ease, border-color 500ms ease !important;

}
li:hover a::after{
    left: 0;
    width: 100%;
}

nav div{
    display: flex;
    opacity: 1 !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.change_theme_mobile{
    display: none;
}

nav ul li{
    opacity: 1 !important;

    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav img{
    opacity: 1 !important;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav div p{
    opacity: 1 !important;

    font-family: 'Urbanist';
    font-weight: 200;
    margin:0;
    padding: 0;
    padding-left: 10px;
}

.content{
    padding: 0 5%;
}

.content div{
    max-width: 80%;
}

.content p{
    font-size: 3.5vh;
}

h1{
    font-size: 7vh;
    padding-top: 0;
    margin-top: 2%;
    color: var(--couleur_titre);
}


.projet_apercu{
    display: flex;
    flex-wrap: nowrap;
    width: 50vh;
    height: 50vh;
    margin: auto;
    flex-direction: row;
    overflow: hidden;
    border: 3px dashed;
    
}

.projet_apercu div{
    cursor : pointer
}
.projet_apercu p{
    padding:0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 3vh;
    
}

.projet_apercu div{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
}

.projet_apercu p:not([class]){
    padding-top: 2%;
}

.mini_titre{
    color: rgb(170, 49, 49);
    padding-bottom: 2px;
    text-decoration: overline;

}

button:not([class]){
    border-radius: 50%;
    text-align: right;
    background-color: cornsilk;
    border-style: double;
}

.decouvrir {
    position: relative;
}


.decouvrir::after {
    content: "";
    position: absolute;
    bottom: 0; 
    right: 0;
    width: 0%; 
    height: 1px !important; 
    background-color: var(--couleur_text);
    transition: width 100ms ease;
}

.decouvrir:hover::after {
    left: 0;
    width: 100%; 
}


.text_cacher{
    display: none;
    padding-left: 10%;
}

.barrer{
    text-decoration: line-through;
}

.mini_exp div{
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}
.mini_exp div h2{
    width: 90%;
}
.mini_exp div p{
    margin: 0;
}



.fin_apercu{
    padding-top: 2%;
    color: rgb(170, 49, 49);
    font-size: 2.5vh;
}


footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    transition: none !important;
    opacity: 1!important;
}

footer div{
    position: relative;
    text-align: center;
    padding: 20px;
}

footer div p{
    margin: 0;
    font-size: 2.5vh;
    color : grey !important;
    opacity: 1!important;
}

footer div a{
    color: white;
    font-size: 2.5vh;
    text-decoration: underline;
    text-decoration-style: dashed;
    transition: all 1s ease;
}

footer div a:hover{
    color : var(--couleur_text);
    text-decoration: none;
}

footer div h3{
    color :wheat;
    margin:0;
}

footer div{
    margin:5px;
    max-width: 30%;
}

footer button{
    opacity: 1!important;
}

.retour{
    all: unset;
    padding: 10px 5px 10px 5px;
    font-family:'Times New Roman', Times, serif;
    display: none;
    position : fixed;
    z-index: 99;
    bottom: 50px;
    left: 10px;
    font-size: 2em;
    filter: opacity(0.7);

}

/* special partie 2 */



.Titre_projet{

    margin: 2% 0 0 0;
    color: rgb(219, 86, 86);
    font-family: 'Nunito Sans'
}

.container-projet{
    display: flex;
    margin-top: 2%;
    align-items: start;
    flex-wrap: wrap;
    justify-content: left;
}

.big_container_projet{
    max-width: 70%;
}

.nav_projet {
    align-self: flex-start;
    margin: 1% 0 1% 0;
    color: var(--couleur_text);
    margin-right: 2%;
    padding: 2%;
    min-width: 20%;
    text-align: center;
    border: 1px solid var(--couleur_text);
    background-color: rgba(255, 255, 255, 0.2); /* Fond transparent */
    z-index: 100;
}
.nav_projet a:hover .li_projet{
    margin: 20px;
}

.nav_projet a{
    display: inline-block;
}

.nav_projet li{
    transition: all 500ms ease !important;
    margin: 2%;
}
.nav_projet li:hover{
    filter: drop-shadow(0 0 2em #646cffaa);
    padding: 5% 0 5% 0;
    background: rgb(255, 255,255,0.1);
    border-radius: 2em
}


.nav_projet p{
    z-index: 9999;
}

.projet_div2{
    display: none;
}
.div-container-projet{
    /*Les divs qui contiennent les projets*/

    margin: 2% 0 2% 0;
    padding: 0 1% 1% 1%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--couleur_text);
    border-radius: 1em;
    
}

.div-container-projet img{
    width: 50%;
    height: auto;
    border-radius: 1em;
    filter: drop-shadow(5px 5px 10px black);
    justify-self: center;
    margin-left: 25%;
    margin-bottom: 2%;
}
.desc-projet{
    padding-left: 2%;
    text-align: left;
}

.div-container-projet .container-image{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div-container-projet .container-image img{
    margin: 0 !important;
    width: 40%;
    margin-bottom: 2% !important;
}

.repo-github{
    margin-left: 2%;
    color: rgb(10, 101, 166);
    margin-top: 1% !important;
    font-family: 'Urbanist';    
    width: 100%;
}
.no_style_li{
    all: unset;
    list-style: none;
}
a{
    cursor: pointer;
}
.ul_projet{
    list-style-type: disc !important;
    margin-left: 10%;
    margin-top: 0;
    font-family: 'Urbanist';
    margin-bottom: 0;
}
@media screen and (max-width: 1040px){

    .big_container_projet{
        max-width: 100%;
    }
    .nav_projet{
        margin-top: 0;
        min-width: 100%;
        padding: 0;
        background-color: var(--couleur_fond_nav_projet);
    }

    .projet_div2{
        display: block;    
    }
    .nav_projet ul{
        flex-shrink: 1;
        display: flex;
        list-style: none;
        margin: 0;
        flex-wrap: wrap;
        

        justify-content: center;
    }
    .nav_projet li{

        border: 1px solid var(--couleur_text);
        border-radius: 1em;
        font-size: 1em;
        margin: 1% 20px 1% 0;
        padding: 0 2px 0 2px;
        transition: border 300ms ease;
        
    }
    .nav_projet li:hover{
        filter: drop-shadow(0 0 2em #646cffaa);
        padding: 0;
        background: rgba(142, 127, 127, 0.1);
        border-radius: 2em;
        border: 1px solid transparent;
    }
    .projet_div1{
        display: none;
    }


}

@media screen and (max-width: 600px) {
   .content div{
        max-width: 100%;
   }
   .change_theme_mobile{
    display: block;
    opacity: 1!important;
 
   }
   .home{
    display: none !important;
   }
   .projet_apercu p{
    font-size: 2.5vh;
   }
   .content h1{
        margin: 0;
   }
   .content p{
    font-size: 2.5vh;
    }

    h1{
        font-size: 7vw;
    }
   nav{
    justify-content: space-around;
    display: block;
   }

   nav ul li{
    display: none;
   }

   nav ul{ /*Ul qui continent le menu et l'image*/
    margin: 0;
    padding: 0;
    justify-content: center;
    transition : justify-content 1s ease;
    margin-top: 10px;
    padding-bottom: 5px;
   }
   
   nav div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   }
   nav div div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .tête_menu_compresser{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
   }

   .tête_menu_compresser a{
    border: none;
    display: flex;
    flex-wrap: wrap;
   }
   
   .tête_menu_compresser li{
    display: flex;
    flex-wrap: wrap;
    min-height: initial;
    text-decoration: underline;
   }

   .img_ligne{
    left: 50%;
    margin-bottom: 2%;
    transition: all 1s ease !important;
   }

   .sub_menu{
        display: flex;
        flex-direction: row;
        
        align-items: center;
        padding : 0;
        margin: 0 0 2% 0;
        font-size: 5vw;
        min-width: 100%;
        position: static;
        opacity: 0;
        transition: opacity 1s ease !important;
        display: none ;

   }
   .image_cv{
    width: 40;
    transition: none !important;
    height: 40;
   }

   .sub_menu a{
    padding-left: 5px;
    transition: none;
   }

   .nav_projet ul{
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        justify-content: space-between;
   }

   .nav_projet li{
    border: 1px solid;
    border-radius: 1em;
    font-size: 15px;
    padding: 0 2px 0 2px;
    margin: 5px;
   }
   
   .sub_menu li{
    padding : 0;
    transition: background-color 500ms ease;
    background-color: #1394bf;
    border: solid 2px black;
    margin: 1%;
    padding: 0 5px 0 5px;
    border-radius: 20px;
    min-width: 150px;
    justify-content: center;
    
   }
   a::after{
    content: none;
   }
   .projet_apercu{
    width: 40vh;
    height: 40vh;
    overflow-x: hidden !important;
    flex-direction: row;
   }
   .projet_apercu div{
    max-width: 100%;
    margin-bottom: 2%;
   }
   .projet_apercu div{
    border-right: none;
   }
   
   /*
   footer{
    opacity: 1!important;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    transition: none !important;
   }
   */
   footer div{
        text-align: center;
        max-width: 100%;
   }
   footer div p{
        max-width: 100%;
   }
   footer div p a{
    color: grey;
    cursor: pointer;
    text-decoration: overline;
   }
   
}
