{% extends "base.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/STYLES/CSS/Main/full_page.css" />
{% endblock %}

{% block body %}
    <main>
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <a href="/" class="NiceButton">Retour à la page d'accueil :) </a>
    </main>
{% endblock %}