.projet {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100vh;
  margin-bottom: 5%;
}
.projet img {
  filter: drop-shadow(0.2em 0.2em 0.2em black);
}
.projet h2 {
  font-size: clamp(1.6rem, 5.7vw, 6rem);
  text-align: center;
  color: #39488b;
}
.projet h3 {
  font-size: clamp(1.4rem, 3vw, 3rem);
  position: relative;
  color: #39488b;
  margin-bottom: 10%;
}
.projet h3::after {
  position: absolute;
  content: "";
  border-bottom: 0.1rem dotted rgb(235, 233, 233);
  border-radius: 100%;
  width: 100%;
  left: 0;
  bottom: -0.2rem;
}
.projet h4 {
  font-size: clamp(1.4rem, 2.5vw, 3rem);
  color: #39488b;
  position: relative;
}
.projet h4::after {
  position: absolute;
  content: "";
  border-bottom: 0.1rem dotted rgb(235, 233, 233);
  border-radius: 100%;
  width: 100%;
  left: 0;
  bottom: -0.2rem;
}
.projet .liensProject ul {
  display: flex;
  flex-direction: column;
}
.projet .liensProject ul li {
  display: flex;
  font-size: clamp(1.1rem, 2vw, 2.8rem);
}
.projet .ImgProject ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projet .ImgProject ul li {
  margin-bottom: 10%;
}
.projet .ImgProject ul li img {
  width: clamp(5rem, 32vw, 15rem);
  height: auto;
  border-radius: 0.5rem;
  margin-right: 6%;
}
.projet .techUseProject ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projet .techUseProject ul li {
  margin-right: 5%;
}
.projet .techUseProject ul li img {
  width: clamp(5rem, 32vw, 15rem);
  height: auto;
}

.Project {
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  padding: 1em;
}

.sectionUser {
  height: 200px;
  overflow-y: scroll;
}

.ImageProfil {
  margin: 3%;
  height: 25vh;
  width: auto;
  border-radius: 100%;
}

.aPropos {
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  white-space: pre-wrap;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5%;
  border-radius: 1rem;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aPropos h1 {
  margin: 0;
  margin-top: 20%;
  font-size: clamp(1.4em, 7vw, 4em);
}
.aPropos h2 {
  color: #39488b;
  margin-bottom: 0;
  font-size: clamp(1.1em, 4.5vw, 2.4em);
}
.aPropos p {
  font-size: clamp(1em, 4vw, 2em);
  margin-top: 0;
  line-height: 125%;
  margin-bottom: 20%;
}

.Transition {
  background: linear-gradient(to bottom, transparent 0%, #090909 50%, transparent 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Transition h1 {
  font-size: clamp(1.6em, 3vw, 6em);
  background-color: rgba(250, 252, 255, 0.1);
  padding: 5% 10%;
  border-radius: 1rem;
}

.date {
  font-size: clamp(0.8rem, 1.7vw, 2.4rem);
  text-align: right;
}

.PresentationProg {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}
.PresentationProg h3 {
  font-size: clamp(1.4rem, 3vw, 3rem);
  align-self: center;
  padding: 4% 6%;
  border-radius: 2rem;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
}
.PresentationProg h3::after {
  content: none;
}
.PresentationProg p {
  font-size: clamp(0.8rem, 2vw, 5rem);
}

/*# sourceMappingURL=styles.module.css.map */
