@use "./_variables" as *;

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom,$hearderBackgroundColor 70%, transparent 100%);

    .defilementText
    {
        position: absolute;
        top: 0;
        width: 99vw;
        overflow-x: hidden;
    }

    p 
    {
        text-align: center;
        font-size: clamp(1.3em,1.6vw,2em);
        position: relative;
        animation: defileText 8s ease-in-out infinite;
    
    }

    @keyframes defileText {

        0%
        {  // Ajout d'un début plus net
            opacity: 0;
            transform: scale(0.8);
        }

        50% 
        {
            opacity: 1;
            transform: scale(1);
        }
        
        98%, 100% { // Fin plus progressive
            opacity: 0;
            transform: scale(1.05);
        }
    }

    div 
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   
    

    .bienvenue
    {
        position: unset;
        align-self:flex-start;
        width: 80%;
        font-family: kanit;
        text-align: center;
        font-size: clamp(1.3em,2vw,4em);
        background: linear-gradient(to right, $hearderBackgroundColor, $colorSubTible);
        background-size: 200% 200%;
        animation: moveBG 10s linear infinite;
        padding-left: 10%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-right: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}

@include moveBG();