
$backgroundColor: #151515;
$baseTextColor: #FFFFFF;
$hearderBackgroundColor: #090909;
$headerHeight : 100vh;
$colorSubTible : #39488b;

@mixin flexColum()
{
    display: flex;
    flex-direction: column;
    @content;
}

@mixin sousBarre()
{
    position: absolute;
    content: "";
    border-bottom: .1rem dotted rgb(235, 233, 233);
    border-radius: 100%;
    width: 100%;
    left: 0;
    bottom: -.2rem;            
    
}