
@use "./variables" as *;
@use "./footer" as *;

html,body
{
    min-height: 100%;
}

a
{
    color : unset;
    text-decoration: none;
}

li 
{
    list-style: none;
}

ul
{
    margin-top: 0;
    padding-left: 5vw;
}

body
{
    @include flexColum();
    margin : 0;
    background-color: $backgroundColor;
    color: $baseTextColor;
    font-family: "Barlow",
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom,$hearderBackgroundColor 70%, transparent 100%);

    p 
    {
        align-self:flex-start;
        width: 80%;
        font-family: kanit;
        text-align: center;
        font-size: 1.3em;
        background-color: rgba(#FFFFFF,0.1);
        padding-left: 10%;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-right: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

main
{
    //height: calc(100% - $footerHeight - $headerHeight);
    align-self: center;
    display: flex;
    flex-direction: column;

    margin-top: 5%;
    margin-bottom: 5%;
}
