@use "./variables" as *;
@use "./projet" as *;
@use "./notFound" as *;

.Project
{
    width: 200px;
    height: 100px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 2em;
    padding: 1em;
}

.sectionUser
{
    height: 200px;
    overflow-y: scroll;
}

.ImageProfil
{
    cursor: pointer;
    margin : 3%;
    height: clamp(9em,20vw,50em);
    width: auto;
    border-radius: 100%;
    z-index: 200;
    filter: drop-shadow(.1em .1em .4em black), blur(0);
    transition: filter 1s ease-in-out;
}

.hidden
{
    filter: blur(2rem);
}


.aPropos
{
    margin : 5%;
    padding: 5%;
    min-height: 85vh;
    white-space: pre-wrap;
    font-size: 1em;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 1rem;
    margin-bottom: 4%;
    overflow-x: hidden;

    @include flexColum();
    align-items: center;
    justify-content: center;

    h1 
    {
        margin: 0;
        
        
        font-size: clamp(1.4em,7vw,4em);
    }

    h2 
    {
        color: $colorSubTible;
        margin-bottom: 0;
        font-size: clamp(1.1em,4.5vw,2.4em);
    }

    p 
    {
        font-size: clamp(1em,2.6vw,2em);
        margin-top: 0;
        line-height: 125%;
    }
}

.Transition
{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom,transparent 0%,$hearderBackgroundColor 40%,$hearderBackgroundColor 60%, transparent 100%);

    h2
    {
        font-size : clamp(1.6em,3vw,6em);
        background: linear-gradient(to right, $hearderBackgroundColor, $colorSubTible);
        background-size: 200% 200%;
        animation: moveBG 10s linear infinite;
        padding: 5% 10%;
        border-radius: 1rem;
    }
}

@include moveBG();

.cursor 
{
    z-index: 69;
    position: absolute;
    left: 50%;
    width: 40px;
    
    height: 40px;
    background-color: $colorSubTible ;
    border-radius: 100%;
    transform: translate(-50%,-50%);
    filter: blur(15px);
}

$widthImg : clamp(1.2em,3vw,3em);

.changementLangue
{
    z-index: 100;
    position: fixed;
    top: 2%;
    right: $widthImg;
    width: fit-content;
    cursor: pointer;

    img 
    {
        width: $widthImg;
        margin: 10%;
        height: auto;
        
        
    }

}

#Francais
{
    animation: appearImg1 $duree_anim_header $animation_tempo_header;
}

#Anglais
{
    animation: appearImg2 $duree_anim_header $animation_tempo_header;
}

@keyframes appearImg1 {
    0%
    {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appearImg2 {
    0%
    {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.contenaireCursor
{

    position : absolute;
    width: 99vw;
    height: 100vh;
    overflow-x: hidden;
}


@media  (max-width: 768px){
    .cursor 
    {
        display: none;
    }

    .hidden
    {
        filter: blur(1rem);
    }
    
}

