<ul>
    <li>
        <a href="/#APropos" onclick="scrollTOElement('#APropos');return false;">
{#            <img src="/Images/Icon/about.png" alt="Icon a propos" />#}
            A propos
        </a>
    </li>
    <li>
        <a href="/#Projets" onclick="scrollTOElement('#Projets');return false;">
{#            <img src="/Images/Icon/book.png" alt="Icon a propos" />#}
            Mes projets
        </a>
    </li>
    <li>
        <a href="/#contact" onclick="scrollTOElement('#contact');return false;">
{#            <img src="/Images/Icon/phone.png" alt="Icon a propos" />#}
           Me contacter
        </a>
    </li>
    <li>
        <a href="#" id="CVLink">
{#            <img src="/Images/Icon/phone.png" alt="Icon a propos" />#}
            Mes CVS
        </a>
    </li>
</ul>